vendor/
composer.lock
build/
config/*
!config/cli-config.php
cache/*
!cache/.placeholder
database/*
!database/.placeholder
logs/*
!logs/.placeholder
proxies/*
!proxies/.placeholder
public/download/*
!public/download/.placeholder
run/*
!run/.placeholder
